.text {
    padding-top: 100px;
    font-size: 24px;
    color : white;
    font-family: 'Press Start 2P', cursive;
}
.input {
    font-size: 30px;
    padding-top: 15%;
    font-family: 'Press Start 2P', cursive;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: white;
    outline: none;
}
.button {
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    padding-left: 20px;
    color : white;
    background-color: rgba(28,28,28,0);
    border: none;
}
.div {
    text-align: center;

}
.error {
    color: red;
    padding-top: 100px;
    font-size: 24px;
    font-family: 'Press Start 2P', cursive;
}