
.div {
  background-color : black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count {
  color : white;
  right: 20px;
  bottom: 20px;
  position: absolute;
  font-size: 24px;
  font-family: 'Press Start 2P', cursive;
}